<nav *ngIf="showNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">To-Do App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
    </ul>
  </div>
</nav>

<div *ngIf="isHomePage()" class="container text-center mt-5">
  <h1 class="display-4">Welcome to Our Angula To-Do Application</h1>
  <p class="lead">Manage your tasks efficiently with our easy-to-use app. Log in to use our app</p>
  <button class="btn btn-primary btn-lg mt-3" (click)="navigateToLogin()">Login</button>
</div>
<router-outlet></router-outlet>
